{% extends "base.html.twig" %}


{% block body %}
    <h1>This is the homepage !</h1>
{% endblock body %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            console.log('this is an example of added javascript code for a specific page (homepage.html.twig)')
        })
    </script>
{% endblock javascripts %}