<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Thomas Benlembarek{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    {#
    <link rel="icon" type="image/svg+xml" href="{{ asset('assets/images/svg/favicon.svg') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('assets/images/png/favicon.png') }}"/>
    #}
    {% include('elements/css.html.twig') %}
    {% block stylesheets %}{% endblock %}
</head>
<body class="{{ app.request.get('_route') }}">
<div id="spinner">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% if user is defined and user %}
    {% include('elements/menu.html.twig') %}
{% endif %}

<div id="container">
    {% block body %}{% endblock %}
</div>

{% include('elements/footer.html.twig') %}

{% include('elements/javascripts.html.twig') %}
{% block javascripts %}{% endblock %}

</body>
</html>
